{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "xxxxxxx",
    "AzureWebJobsStorage__accountname": "cccccccccc",
    "AZURE_TENANT_ID": "00000000-1111-1111-0000-000000000000",
    "AZURE_CLIENT_ID": "00000000-1111-1111-0000-000000000000",
    "AZURE_CLIENT_SECRET": "vvvvvvvvvvvvvvvv",
    "SMCP_BCK_LOGS_INGESTION_ENDPOINT": "https://bbbbbbbbbbb.ingest.monitor.azure.com",
    "SMCP_BCK_LOGS_INGESTION_RULE_ID": "aaaaaaaaaa",
    "SMCP_BCK_LOGS_INGESTION_STREAM_NAME": "Custom-SnapshotsOperations_CL-source",
    "SMCP_BCK_SECONDARY_LOCATION": "westeurope",
    "SMCP_BCK_TARGET_RESOURCE_GROUP": "xpto-rg",
    "SMCP_BCK_RETRY_CONTROL_COPY_MINUTES": 5,
    "SMCP_BCK_RETRY_CONTROL_PURGE_MINUTES": 5,
    "SMCP_BCK_PURGE_PRIMARY_LOCATION_NUMBER_OF_DAYS": 1,
    "SMCP_BCK_PURGE_SECONDARY_LOCATION_NUMBER_OF_DAYS": 3,
    "SMCP_BCK_BACKUP_TRIGGER_TAG": "{\"key\":\"smcp-backup\",\"value\":\"on\"}",
    "SMCP_REC_LOGS_INGESTION_ENDPOINT": "https://bbbbbbbbbbb.ingest.monitor.azure.com",
    "SMCP_REC_LOGS_INGESTION_RULE_ID": "aaaaaaaaaa",
    "SMCP_REC_LOGS_INGESTION_STREAM_NAME": "Custom-SnapshotsRecoveryJobs_CL-source",
    "SMCP_REC_BATCH_SIZE": "95",
    "SMCP_REC_DELAY_BETWEEN_BATCHES": "10",
    "SMCP_MANDATORY_TAGS": "[{\"key\":\"app\",\"value\":\"xpto\"},{\"key\":\"owner\",\"value\":\"who\"}]",
    "SMCP_REC_VM_POLL_MAX_RETRIES": "30",
    "SMCP_REC_VM_POLL_DELAY_SECONDS": "60",
    "SMCP_REC_VM_POLL_MAX_DELAY_SECONDS": "600"
    "SMCP_MANDATORY_TAGS": "[{\"key\":\"app\",\"value\":\"xpto\"},{\"key\":\"owner\",\"value\":\"xxxx\"}]"
  }
}