{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "xxxxxxx",
    "AzureWebJobsStorage__accountname": "cccccccccc",
    "AZURE_TENANT_ID": "00000000-1111-1111-0000-000000000000",
    "AZURE_CLIENT_ID": "00000000-1111-1111-0000-000000000000",
    "AZURE_CLIENT_SECRET": "vvvvvvvvvvvvvvvv",
    "LOGS_INGESTION_ENDPOINT": "https://bbbbbbbbbbb.ingest.monitor.azure.com",
    "LOGS_INGESTION_RULE_ID": "aaaaaaaaaa",
    "LOGS_INGESTION_STREAM_NAME": "Custom-SnapshotsOperations_CL-source",
    "SNAPSHOT_SECONDARY_LOCATION": "westeurope",
    "SNAPSHOT_TARGET_RESOURCE_GROUP": "xpto-rg",
    "SNAPSHOT_RETRY_CONTROL_COPY_MINUTES": 5,
    "SNAPSHOT_RETRY_CONTROL_PURGE_MINUTES": 5,
    "SNAPSHOT_PURGE_PRIMARY_LOCATION_NUMBER_OF_DAYS": 1,
    "SNAPSHOT_PURGE_SECONDARY_LOCATION_NUMBER_OF_DAYS": 3
  }
}